html{
font-family: 'Josefin Sans', sans-serif;
background: #eeeeee; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #eeeeee 0%, #afafaf 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  #eeeeee 0%,#afafaf 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  #eeeeee 0%,#afafaf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#afafaf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

html::after {
  content: "";
  background: url("http://www.ebhasin.com/games/games-source/javascript/Hang-Man-(Tamil-Movies)/src/pics/h0.png");
  background-size:cover;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  width:auto;
  max-width: 100%;
  height: auto;
}



body{
  width: 80%;
  margin: auto;
  margin-top: 3%;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4)

}
#Header{
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  padding-top: 1%;
  padding-bottom: 2%;
}

#hangman{
text-align: center;
font-size: 2em;

}

#container{
width: 70%;
height: 200px;
max-width: 960px;
border: 2px solid grey;
padding:2%;
border-radius:10px ;
background-color: #f2f2f2;
margin: 15% auto;
box-shadow: 10px 10px 20px #888888;
}

#word{
	color: dark grey;
	text-decoration: underline;
}

h1{
  text-align: center;
    font-size: 85%;
}

h2{
  text-align: center;
    font-size: 75%;
}

#word{
  font-size: 70px;
}

p{
  font-size:150%;
  text-align: center;
}
#letters{
  display: flex;
  justify-content: center;


}
#letters a{
  width: 40px;
  color: grey;
  font-size: 350%;
  background-color: #dbdbdb;
  box-shadow: 2px 2px 5px #888888;
  border: 1px solid #b5b5b5;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  display: inline-block;
  margin-bottom: 8px;

}

#letters a:hover {
    color:white;
    box-shadow: 5px 5px 20px #888888;
    text-decoration: underline;
  }

  #letters a d.{
    color: yellow;
    text-decoration:underline;
  }
